@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
    html{
        font-size:62.5%;
        scroll-behavior:smooth;
        user-select:none;
    }
}

@layer components{
    .otherLinks{
        padding:0.8rem;
        display:flex;
        justify-content:center;
        align-items:center;
        flex-direction:row-reverse;
        gap:1rem;
        border-radius:3px;
        
    }

    .lignsDivider{
       width:50%;
        height:0.05rem;
        background: #9F9E9E;
    }
    .photos div{
        overflow: hidden;
    }
    .photos img{
        width:100%;
        height:100%;
        transition:all 0.2s ease-in-out;
    }
    .photos img:hover{
        transform:scale(1.1);
        
    }
    .footerList{
        display:flex;
        align-items:center;
        flex-direction:column;
        gap:2rem;
    }

    .footerList  a ,
    .footerListTwo  a{
        text-transform: capitalize;
        color:#6e6e6e;
        font-size:1.5rem;
        transition:all 0.5s ease;
    }
    .footerList  a:hover,
    .footerListTwo  a:hover{
        color:#38220F;
    }

    .footerLinks{
        display:flex;
        justify-content:center;
        align-items:center;
        font-size:1.5rem;
        width:3.5rem;
        height:3.5rem;
        color:#fff;
    }
    .footerTitle{
        text-transform: capitalize;
        font-weight: bold;
        font-size:2.25rem;
        margin-bottom:2rem;
    }

    input:invalid[focused='true']{
        border:2px solid crimson;
    }
    input:valid[focused='true']{
        border:2px solid green;
    }
    input:invalid[focused='true']~span{
        display:block;
    }

    .contactDetailHover{
        position: relative;
        overflow:hidden;
        cursor: pointer;
        box-shadow:0 1px 3px 0 rgba(0,0,0,0.2);
    }
    .contactDetailHover::before{
        position: absolute;
        content:'';
        height:100px;
        left:25px;
        width:70px; 
        background-color:#38220F;
        transition:0.5s;
        z-index:-2;
    }
    .contactDetailHover:hover::before{
        inset:-10px 0rem;
        background-color:#38220F;
        height:278px;
        width:100%;
    }

    .contactDetailHover::after{
        position: absolute;
        content:'';
        inset:2px;
        background-color:#fff;
        z-index:-1;
    }

    .contactDetailHover > div{
        display:flex;
        flex-direction:column;
        gap:0.5rem;
        border-radius:4px;
        padding:2.5rem;
        color:#838383;
    }
    .contactDetailHover h3{
        font-weight:500;
        text-transform: capitalize;
        font-size:1.25rem;
        margin-block:0.5rem;
    }

    .faqTitle{
        position: relative;
        border-bottom:2px solid #e4e4e4;
        padding-block:2rem;
    }
    .faqTitle h3{
        font-size:2rem;
        text-transform: uppercase;
        font-weight:bold;
    }
    .faqTitle::after{
        position: absolute;
        content:'';
        width:10rem;
        height:0.4rem;
        top:99%;
        background-color: #634832;
    }

    .contactFormInput input::placeholder{
        font-size:1.4rem;
    }

    .contactFormInput input{
        border:1px solid #D3D3D3;
        width:100%;
        padding:1rem;
        border-radius:2px;
        font-size:1.6rem;
    }
    .contactFormInput input:focus{
        outline-color:#38220F;
        background-color:#f3fbfb;
    }
    .contactFormInput input:invalid{
        outline-color:red;
    }
}


